@(products: List[Product])(category: Category)

@main("Products") {
    <div class="panel panel-primary">
  <div class="panel-heading">
           @category.name
  </div>
</div>


    <div class="row">
    @for(product <- products) {
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="thumbnail" style="height:330px;" id="ellipsis@product.id">
                <a href="@routes.ProductController.getProduct(product.id)" class="thumbnail" style="margin-bottom: 0;">
                @for(image <- product.images) {
                    <img class="img-responsive" src="@image.getThumbnail(400,360)" ></a>
                }
                <div class="caption">
                    <h3 style="margin-top: 5px"><a href="@routes.ProductController.getProduct(product.id)" >@product.name</a></h3>
                    <p>@product.description</p>
                </div>
            </div>
        </div>
        <script >
        $(document).ready(function() {
	    $("#ellipsis@product.id").dotdotdot();
        });
    </script>
    }
    </div>


}
