@(products: List[Product])(category: Category)

@main("Products") {
    <div class="panel panel-primary">
  <div class="panel-heading">
           @category.name
  </div>
</div>


<div class="row">
@for(product <- products) {
  <div class="col-sm-6 col-md-3 col-lg-3">
    <div class="thumbnail" style="height:400px;" id="ellipsis">
      <a href="@routes.ProductController.getProduct(product.id)" class="thumbnail" style="margin-bottom: 0;"><img class="img-responsive" style="height: 230px;" src="@routes.Assets.versioned("images/products/" + Image.getImagePath(product))" ></a>
      <div class="caption">
        <h3><a href="@routes.ProductController.getProduct(product.id)" style="margin-top: 10px;">@product.name</a></h3>
        <p>@product.description</p>
      </div>
    </div>
  </div>
}
</div>

<script >
        $(document).ready(function() {
	    $("#ellipsis").dotdotdot();
        });
    </script>
}
