@(products: List[Product])

@adminIndex {
	<h1> Product table </h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th> Product </th>
				<th> Category </th>
				<th> User </th>
				<th> Price </th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@for(product <- products)  {
			<tr>
				<td> @product.name</td>
				<td> @product.category.name </td>
				<td> @product.user.email </td>
				<td> @product.price </td>
				<td>
					<a id="adminDeleteProduct@product.id"><span class="glyphicon glyphicon-trash"></span></a>
				</td>
			</tr>

				<script >
                      $(document).ready(function(){
                      $('#adminDeleteProduct@product.id').click(function(){
                         $.confirm({
                            title: 'Do you want to delete ' +'@product.name' + ' ?',
                            theme: 'black',
                            content: false,
                            confirmButtonClass: 'btn-danger',
                            cancelButtonClass: 'btn-info',
                            confirmButton: 'Delete',
                            cancelButton: 'Cancel',
                               confirm: function(){
                                $.ajax({
                                   url: '@routes.ProductController.deleteProductAdmin(product.id)',
                                   method: 'GET',
                                    }).success(function(){
						             window.location.replace("@routes.AdminController.adminProducts()");
                                      }).error(function(response){
                                      alert(response.responseText);
                                       });
                                       },
                                      cancel: function(){
                                    }
                               });
                             })
                         })
                     </script>
			}
		</tbody>
	</table>
}