@(category: Category)

@adminIndex {

  <div class = "row">
    <div class = "col-md-6">
      <h2>Edit category</h2>
    </div>
  </div>
  <form method="POST" action="@routes.CategoryController.updateCategory(category.id)">
    <div class = "row">
      <div class="col-md-6">
        <label style = "margin-left : 20 px ; font-weight : normal ;"> Category name: </label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="categoryName" value="@category.name" oninput="validateCategory()" onkeypress="return isAlphaKey(event);">
      </div>
    </div>
      <!--Buttons-->
    <div class ="row">
      <div class ="col-md-1" style="padding-right: 0px;">
        <button class="btn btn-primary" type="submit" name="save"> Save </button>
      </div>
      <div class="col-md-1" style="padding-left: 0px">
        <a href="@routes.AdminController.adminCategories()"><button type="submit" class="btn btn-default">Cancel</button></a>
      </div>
    </div>
  </form>
}