@(product: Product)

@main("Product", User.getUserByEmail(session.get("email"))) {
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4" style="margin-right: 5%">
					<div class="thumbnail">
						<img src="http://placehold.it/450x600">
					</div>
				</div>
				<div class="col-md-4">
					<h2>@product.name</h2>
					<table>
						<tbody>
							<tr class="blank_row"></tr>
							<tr class="blank_row"></tr>

							<tr>
								<td> User: </td>
								<td>@product.user.email</td>
							</tr>
							<tr>
								<td> Category: </td>
								<td>@product.category.name</td>
							</tr>
							<tr class="blank_row"></tr>
							<tr>
								<td> <h4> Price:</h4></td>
								<td> <h4>@product.price</h4></td>
							</tr>
							<tr class="blank_row"></tr>

							<tr>
								<td> Manifacturer: </td>
								<td>@product.manufacturer</td>
							</tr>
							<tr>
								<td>Avability:</td>

								<td>No</td>

							</tr>
							<tr class="blank_row"></tr>
							<tr>
								<td>Quantity:</td>
								<td><input></td>
							</tr>
							<tr class="blank_row"></tr>
							<tr class="blank_row"></tr>
							<tr class="blank_row"></tr>
							<tr class="blank_row"></tr>
							<tr>
								<td><button class="btn btn-primary"> Add to chart </button>
									@helper.form(action = routes.ProductController.deleteProduct(product.id)) {
									<button type="submit" class="btn btn-primary">Delete</button></td>
								}
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row" >
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#about">About</a></li>
						<li><a data-toggle="tab" href="#menu1">Specifications</a></li>
						<li><a data-toggle="tab" href="#menu2">Reviews</a></li>
					</ul>

					<div class="tab-content">
						<div id="about" class="tab-pane fade in active">
							<p>@product.description</p>
						</div>
						<div id="menu1" class="tab-pane fade">
							<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
								Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced
								in their exact original form, accompanied by English versions from the 1914 translation by H.
								Rackham.
							</p>
						</div>
						<div id="menu2" class="tab-pane fade">
							<p>
								"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
								"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
}