@(product: Product)(path: String)(comments:List[Comment])

@main("Product", User.getUserByEmail(session.get("email"))) {
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-4" style="margin-right: 5%">
					<div class="thumbnail">

						<img src="@routes.Assets.versioned("images/products/" + path)"/>

					</div>
				</div>
				<div class="col-md-4">
					<h2>@product.name</h2>
					<table>
						<tbody>
							<tr class="blank_row"></tr>
							<tr class="blank_row"></tr>

							<tr>
								<td> User: </td>
								<td name="email">@product.user.email</td>
							</tr>
							<tr>
								<td> Category: </td>
								<td>@product.category.name</td>
							</tr>
							<tr class="blank_row"></tr>
							<tr>
								<td> <h4> Price:</h4></td>
								<td> <h4>@product.price KM</h4></td>
							</tr>
							<tr class="blank_row"></tr>

							<tr>
								<td> Manifacturer: </td>
								<td>@product.manufacturer</td>
							</tr>
							<tr>
								<td>Avability:</td>

								<td>No</td>

							</tr>
							<tr class="blank_row"></tr>
							<tr>
								<td>Quantity:</td>
								<td><input></td>
							</tr>
							<tr class="blank_row"></tr>
							<tr class="blank_row"></tr>
							<tr class="blank_row"></tr>
							<tr class="blank_row"></tr>
							<tr>
								<td>
									<form action="@routes.CartController.addToCart(product.id)" method="POST">
										<button type="submit "class="btn btn-primary"> Add to chart </button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row" >
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#about">About</a></li>
						<li><a data-toggle="tab" href="#menu1">Specifications</a></li>
						<li><a data-toggle="tab" href="#menu2">Comments (@comments.size)</a></li>
					</ul>

					<div class="tab-content">
						<div id="about" class="tab-pane fade in active">
							<p>@product.description</p>
						</div>
						<div id="menu1" class="tab-pane fade">
							<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
								Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced
								in their exact original form, accompanied by English versions from the 1914 translation by H.
								Rackham.
							</p>
						</div>
						<div id="menu2" class="tab-pane fade">

							<div class="page-header">
								<h2>Your Comment </h2>
							</div>
							<div class = "row">
								<form action="@routes.CommentController.saveComment(product.id)" method="POST">
								<div class="form-group">
									<label for="usr" style = "margin-top:40px;">Tittle:</label>
									<input type="text" class="form-control" id="usr"  name="title">
									<label for="comment" style = "margin-top:30px;">Comment:</label>
									<textarea class="form-control" rows="5" id="comment"  name="comment"></textarea>
								</div>
								<div class = "row pull-right" >
									<button type="submit" class="btn btn-primary" style = "margin-right:14px;">Submit</button>
								</div>
								</form>
								<table class="table">

									<thead>

										<tr>

											<th><h3>Top comments</h3></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<a href=""><h4>Good book</h4></a>
												<p class = "person">By Claire Barnell on 13.07.2015</p>
												<p style = "margin-bottom:20px;">You can read this book in one sitting and it will give you a very good feel for Bootstrap. Definitely worth the money, especially in comparison to other much more expensive books.<br /><br />One suggestion and something that I couldn't find within the book, but maybe I just missed it. I had troubles making images responsive, even after trying to override the CSS, and eventually found the solution on stack overflow. I recommend using the &#34;img-responsive&#34; class within your image tags which will do the trick. There might be better ways to do it, but this worked for me. For example, &#60;img src=&#34;picture.jpg&#34; class=&#34;img-responsive&#34; alt=&#34;&#34; &#62;</p>
												<span style = "margin-right:6px; ">Was this review helpful to you?</span>
												<a href=""> <span class="glyphicon glyphicon-thumbs-up" style = " padding-left:6px;padding-right:10px;font-size: 17px;"></span></a>
												<a href=""> <span class="glyphicon glyphicon-thumbs-down" style = "padding-right:10px;font-size: 17px;"></span></a>

											</td>

									</tbody>
								</table>

								<table class="table">
									<thead>
										<tr>
											<th><h3>All comments</h3></th>
										</tr>
									</thead>
									<tbody>
										@for(comment <- comments) {
											<tr>
												<td>
													<a href=""><h3>@comment.title</h3></a>
													<p class = "person">By @comment.user.firstName @comment.user.lastName on @comment.commentDate</p>
													<p style = "margin-bottom : 20 px ;" name = "text">@comment.text</p>
													<span style = "margin-right : 10 px ; ">Was this review helpful to you?</span>
													<a href=""> <span class="glyphicon glyphicon-thumbs-up" style = " padding-left:10px;padding-right:10px;font-size: 17px;"></span></a>
													<a href=""> <span class="glyphicon glyphicon-thumbs-down" style = " padding-right:10px;font-size: 17px;"></span></a>

												</td>
											</tr>
										}

									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
}