@(product: Product)(path: String)(comments:List[Comment])(topComments: List[Comment])(recommendedProducts: java.util.List[Product])(averageRating: String)

@import helper._
	@import helpers.CommonHelpers
@main("Product") {
	<div class="container" id="wrapper" style="padding-right: 30px">
		<div class="row">
			<div class="col-md-6">
				@if(product.images.size() > 0) {
				<div id="galleria">
				@for(image <- product.images) {
					<a href="@image.getSize(576,486)">
						<img src="@image.getSize(576,486)">
					</a>
				}
				</div>
				} else {
					<div class="thumbnail">
						<a href="@routes.ProductController.getProduct(product.id)" class="thumbnail" style="margin-bottom: 0;">
							<img class="img-responsive" src="http://placehold.it/576x486" ></a>
					</div>
				}
				@if(Cart.doesContainItem(product.id)) {
					<div style="margin-left: auto; margin-right: auto; width: 10em">
						<h4 style="margin-left: 25px">Rate product</h4>
						<input class="rating" data-max="5" data-min="1" id="some_id" name="your_awesome_parameter" type="number" data-empty-value="0" data-icon-lib="fa" data-active-icon="fa-star fa-2x" data-inactive-icon="fa-star-o fa-2x"/>
					</div>
				}
			</div>
			<div class="col-md-6 " id="userInfo" style="padding-top: 10px;">
				<h2 style="display: inline; font-family: serif">@product.name</h2>
				<span class="fa-stack fa-2x" style="float: right; margin-top: 10px">
					<i class="fa fa-star fa-stack-2x"></i>
					<strong class="fa-stack-1x star-text">@averageRating</strong>
				</span>
				<table>
					<tbody>
						<tr class="blank_row"></tr>
						<tr class="blank_row"></tr>
						<tr>
							<td> User: </td>
							@if(session().get("email") != null ) {
								<td name="email"><a href="@routes.Users.getUser(product.user.email)" style="text-decoration : none">@product.user.email</a><a href="@routes.MessageController.newMessage(product.user.email)" style="text-decoration : none"><span class="glyphicon glyphicon-envelope"></span></a></td>
							} else {userOne.validated = true;
								<td name="email">@product.user.email</td>
							}
						<tr>
							<td> Category: </td>
							<td>@product.category.name</td>
						</tr>
						<tr class="blank_row"></tr>
						<tr>
							<td> <h4> Price:</h4></td>
							<td> <h4>@product.price KM</h4></td>
						</tr>
						<tr class="blank_row"></tr>

						<tr>

							@if(product.category == Category.getCategoryByName("Books")) {
								<td> Publisher: </td>
							}else {
								<td> Manufacturer: </td>
							}
							<td>@product.manufacturer</td>
						</tr>
						<tr class="blank_row"></tr>
						<tr>
							<td>Quantity:</td>
							<td>@product.quantity</td>
						</tr>
						<tr>
							<td>Availability:</td>
							@if(product.quantity > 0) {
								<td style="font-size: 15px; color: green;">Yes</td>
							} else {
								<td style="font-size: 15px; color: red"> No </td>
							}
						</tr>
						<tr>
							<td> Payment: </td>
							<td><img src="@routes.Assets.versioned("images/paypal.png")"></td>
						</tr>
						<tr class="blank_row"></tr>
						<tr class="blank_row"></tr>
						<tr>
							<td>
								@if(session().get("email") != null && (User.getUserByEmail(session().get("email"))).userType.id == 2) {
									<form action="@helper.CSRF(routes.CartController.addToCart(product.id))" method="POST">
										@if(product.quantity > 0) {
											<button type="submit " class="btn btn-primary" style="margin-bottom : 20px">
												Add to cart </button>
										} else {
											<button type="submit " class="btn btn-primary" style="margin-bottom : 20px" disabled>
												Add to cart </button>
										}
									</form>
								}
								@if(session().get("email") != null && (User.getUserByEmail(session().get("email"))).userType.id == 3 && product.user.id == User.getUserByEmail(session().get("email")).id) {
									<form action="@routes.ProductController.editProduct(product.id)" method="GET">
										<button type="submit " class="btn btn-primary" style="margin-bottom:20px">
											Edit </button>
									</form>
								}
							</td>
						</tr>
					</tbody>
				</table>
				<div  id="deliveryWrapper">
					<table>
						<tbody>
							<tr>
								<td> Shipping: </td>
								<td> </td>
							</tr>
							<tr>
								<td> Delivery: </td>
								<td> Estimated 10-15 days. </td>
							</tr>
							<tr>
								<td> Returns: </td>
								<td> 60 days money back, buyer pays return shipping </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		@if(recommendedProducts != null && recommendedProducts.size() > 3) {
			<div class="panel panel-primary" style="background-color: #f5f5f5; border-color: #f5f5f5;">
				<div class="panel-heading" id="panel-name">
					Other products you may be interested in
				</div>
			</div>
			<div class="row">
			@for(product <- recommendedProducts) {
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="thumbnail" style="height:260px;" id="ellipsis@product.id">
						@if(product.images.size() > 0) {
							<a href="@routes.ProductController.getProduct(product.id)" class="thumbnail" style="margin-bottom: 0;">
								<img class="img-responsive" src="@product.images.get(0).getThumbnail(130, 130)" ></a>
						}else{
							<a href="@routes.ProductController.getProduct(product.id)" class="thumbnail" style="margin-bottom: 0;">
								<img class="img-responsive" src="http://placehold.it/130x130" ></a>
						}
					<div class="caption">

						<span class="fa-stack fa-2x" style="float: right; margin-top: 10px">
							<i class="fa fa-star fa-stack-2x"></i>
							<strong class="fa-stack-1x star-text">@Rating.getAverageRating(product.id)</strong>
						</span>
						<h5 style="margin-top: 5px"><a href="@routes.ProductController.getProduct(product.id)" >@product.name</a></h5>
						<h4>@product.price KM</h4>
					</div>
					</div>
				</div>
			}
			</div>
		}
		<div class="row" >
			<div class="col-md-12">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#about">About</a></li>
					<li><a data-toggle="tab" href="#menu2">Comments (@(comments.size + topComments.size))</a></li>
				</ul>
				<div class="tab-content">
					<div id="about" class="tab-pane fade in active">
						<br><p style="min-height: 100px">@product.description</p>
					</div>
					<div id="menu2" class="tab-pane fade">
						@if(session().get("email") != null && (User.getUserByEmail(session().get("email"))).userType.id == 2 && Comment.hasUserCommented(product)) {
							<div class="page-header">
								<h2> Your Comment </h2>
							</div>
							<div class = "row">
								<form action="@helper.CSRF(routes.CommentController.saveComment(product.id))" method="POST">
									<div class="form-group">
										<label for="usr" style = "margin-top:40px;">Title:</label>
										<input type="text" class="form-control" id="usr"  name="title">
										<span class="alert-danger" data-error-for="title" style="display: block;font-weight:normal;"></span>
										<label for="comment" style = "margin-top:30px;">Comment:</label>
										<textarea class="form-control" rows="5" id="comment"  name="text"></textarea>
										<span class="alert-danger" data-error-for="text" style="display: block;font-weight:normal;"></span>
									</div>
									<div class = "row pull-right" >
										<button id="submit-button" type="submit" class="btn btn-primary" style = "margin-right:14px;">Submit</button>
									</div>
									<script>
										var urlPost = "@routes.CommentController.validateFormComment()";
									</script>
									<script src="@routes.Assets.versioned("javascripts/validateForm.js")" type="text/javascript"></script>
								</form>
								<table class="table">
								}
						<thead>
							<tr>
								<th><h3>Top comments</h3></th>
							</tr>
						</thead>
						<tbody>
						@for(comment <- topComments){
							<tr>
								<td>
									<a href=""><h4>@comment.title</h4></a>
									<p class = "person">By @comment.user.firstName @comment.user.lastName on @CommonHelpers.getDateAsString(comment.commentDate)</p>
									<p style = "margin-bottom:20px;">@comment.text</p>
									<span style = "margin-right:6px; ">Was this review helpful to you?</span>
									<a id="like@comment.id"> <span id="thumbs-up@comment.id" class="glyphicon glyphicon-thumbs-up" style="padding-right: 10px; font-size: 17px;">@Thumb.getNumberThumbsUp(comment)</span></a>
									<a id="dislike@comment.id"> <span id="thumbs-down@comment.id" class="glyphicon glyphicon-thumbs-down" style="padding-right: 10px; font-size: 17px;">@Thumb.getNumberThumbsDown(comment)</span></a>
								</td>
							</tr>
							<script>
							$(document).ready(function() {
								var comm = @comment.id;
								var thumbUp = "true";
								var thumbDown = "false";
								$("#like" + comm).click(function(e) {
											e.preventDefault();
											$.ajax({
											type: "post",
											url: "@routes.CommentController.saveThumbUp()",
											data: "comm=" + comm + "&thumb=" + thumbUp
										}).success(function(response) {
											console.log(response);
											$("#thumbs-up" + comm).html(response[0]);
											$("#thumbs-down" + comm).html(response[1]);
											$("#like" + comm).css('color', 'grey');
												$("#dislike" + comm).css('color', 'blue');
											})
										})
										$("#dislike" + comm).click(function(e) {
											e.preventDefault();
											$.ajax({
												type: "post",
												url: "@routes.CommentController.saveThumbUp()",
												data: "comm=" + comm + "&thumb=" + thumbDown
											}).success(function(response) {
												$("#thumbs-up" + comm).html(response[0]);
											$("#thumbs-down" + comm).html(response[1]);
												$("#like" + comm).css('color', 'blue');
												$("#dislike" + comm).css('color', 'grey');
											})
										})
											});
										</script>
						}
						</tbody>
					</table>
						<table class="table">
							<thead>
								<tr>
									<th><h3>All comments</h3></th>
								</tr>
							</thead>
							<tbody>
							@for(comment <- comments) {
								<form action="" method="post">
									<tr>
										<td>
											<a href=""><h4>@comment.title</h4></a>
											<p class = "person">By @comment.user.firstName @comment.user.lastName on @comment.commentDate</p>
											<p style = "margin-bottom:20px;">@comment.text</p>
											<span style = "margin-right:6px; ">Was this review helpful to you?</span>
											<a id="like@comment.id"> <span id="thumbs-up@comment.id" class="glyphicon glyphicon-thumbs-up" style="padding-right: 10px; font-size: 17px;">@Thumb.getNumberThumbsUp(comment)</span></a>
											<a id="dislike@comment.id"> <span id="thumbs-down@comment.id" class="glyphicon glyphicon-thumbs-down" style="padding-right: 10px; font-size: 17px;">@Thumb.getNumberThumbsDown(comment)</span></a>
										</td>
									</tr>
								</form>
								<script>
									$(document).ready(function() {
										var comm = @comment.id;
										var thumbUp = "true";
										var thumbDown = "false";
										$("#like" + comm).click(function(e) {
											e.preventDefault();
											$.ajax({
											type: "post",
											url: "@routes.CommentController.saveThumbUp()",
											data: "comm=" + comm + "&thumb=" + thumbUp
										}).success(function(response) {
											console.log(response);
											$("#thumbs-up" + comm).html(response[0]);
											$("#thumbs-down" + comm).html(response[1]);
											$("#like" + comm).css('color', 'grey');
												$("#dislike" + comm).css('color', 'blue');
											})
										})
										$("#dislike" + comm).click(function(e) {
											e.preventDefault();
											$.ajax({
												type: "post",
												url: "@routes.CommentController.saveThumbUp()",
												data: "comm=" + comm + "&thumb=" + thumbDown
											}).success(function(response) {
												$("#thumbs-up" + comm).html(response[0]);
											$("#thumbs-down" + comm).html(response[1]);
												$("#like" + comm).css('color', 'blue');
												$("#dislike" + comm).css('color', 'grey');
											})
										})
									});
								</script>
							}
							</tbody>
						</table>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
        var urlPost = "@routes.CommentController.validateFormComment()";
    </script>
	<script src="@routes.Assets.versioned("javascripts/validateForm.js")" type="text/javascript"></script>
	<script >
		$(document).ready(function(){
			var productId = @product.id;
			$('.fa').on("click", function(){
				var rating = $(this).attr("data-value")
				$.ajax({
					url: @routes.ProductController.productRating(),
					type: "post",
					data: "productId=" + productId + "&rating=" + rating
				}).success(function(response){
				});
			});
		});
	</script>
	<script src="@routes.Assets.versioned("javascripts/galleria-1.4.2.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/galleria.history.min.js")" type="text/javascript"></script>
	<script >
	// Load the classic theme
    Galleria.loadTheme('@routes.Assets.versioned("javascripts/galleria.classic.min.js")');
		// Initialize Galleria
    Galleria.run('#galleria');
	</script>
}
