@(products: List[Product])(user: User)

@import helpers.SessionHelper
@main("User Profile") {
  <body>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">@user.firstName</div>
          </div>
          <div class="panel-body">
              <div class="table-responsive">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th> Name </th>
                              <th> Category </th>
                              <th> Quantity </th>
                              <th> Price </th>
                              <th> </th>
                          </tr>
                      </thead>
                      <tbody id="myTable">
                      @for(product <- products) {
                          <tr>
                              <td><a href="@routes.ProductController.getProduct(product.id)">@product.name</a></td>
                              <td> @product.category.name </td>
                              <td> @product.quantity</td>
                              <td> @product.price </td>
                              <td>
                              @if(SessionHelper.currentUser().email == user.email) {
                                  <a href="@routes.ProductController.editProduct(product.id)"><button type="submit"><span class="glyphicon glyphicon-edit"></span></button></a>
                                  <a id="deleteProduct@product.id"><button type="submit"><span class="glyphicon glyphicon-trash"></span></button></a>
                              }
                              </td>
                          </tr>
                          <script>
                      $(document).ready(function(){
                      $('#deleteProduct@product.id').click(function(){
                         $.confirm({
                            title: 'Do you want to delete ' +'@product.name' + ' ?',
                            theme: 'white',
                            content: false,
                            confirmButtonClass: 'btn-danger',
                            cancelButtonClass: 'btn-info',
                            confirmButton: 'Delete',
                            cancelButton: 'Cancel',
                               confirm: function(){
                                $.ajax({
                                   url: '@routes.ProductController.deleteProduct(product.id)',
                                   method: 'GET',
                                    }).success(function(){
						             window.location.replace('@routes.Users.getAllUserProducts(user.email)');
                                      }).error(function(response){
                                      alert(response.responseText);
                                       });
                                       },
                                      cancel: function(){
                                    }
                               });
                             })
                         })
                     </script>
                      }
                      </tbody>
                  </table>
              </div>
              <div class="col-md-12 text-center">
                  <ul class="pagination pagination-lg pager" id="myPager"></ul>
              </div>
              <div class="col-md-12 text-left">
              @if(SessionHelper.currentUser() == User.getUserByEmail(user.email)) {
                  <a href="@routes.ProductController.newProduct()"><button type="submit" class="btn btn-primary">
                      Sell new product </button></a>
              }
              </div>
          </div>
        </div>
      <script src="@routes.Assets.versioned("javascripts/table-pagination-products.js")" type="text/javascript"></script>
}