@(user: User)
@import helper._

@import helpers.SessionHelper
@main("User Profile") {
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">@user.firstName @user.lastName</div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="userInfoWrapper" style="height: 400px; width: 96%; margin-left: 20px" >
                                <div class="col-md-3 col-lg-3 ">
                                            @if(Image.getUserImage(user) != null) {
                                                <img class="img-responsive" alt="User Pic" src="@Image.getUserImage(user).getSize(300,300)" class="img-rounded img-responsive">
                                            } else {
                                                <img class="img-responsive" alt="User pic" src="http://placehold.it/300x300" class="img-rounded img-responsive">
                                            }
                                        @if(user.id == SessionHelper.currentUser().id) {
                                            <form method="POST" action="@helper.CSRF(routes.Users.saveUserPicture())" enctype="multipart/form-data">
                                                <div style="text-align: center">
                                                <input type="file" class="filestyle" name="image" onchange="form.submit()" data-classButton="btn btn-default" data-input="false" data-classIcon="icon-plus" data-buttonText="Change picture" align="middle" accept="image/*" >
                                                </div>
                                            </form>
                                        }
                                <div>
                                @if(user.userType.id == 3) {
                                    <span  class="fa-stack fa-2x" style="margin-left: auto; margin-right: auto; width: 9em; margin-top: 10px" title="Users rating">
                                        <i class="fa fa-star fa-stack-2x"></i>
                                        <strong class="fa-stack-1x star-text">@User.getAverageUserRating(user)</strong>
                                    </span>
                                }
                                </div>
                                </div>
                                <div class=" col-md-9 col-lg-9 ">
                                    <div class="col-md-9 personal-info">
                                        <h1 style="margin-bottom: 40px;">@user.firstName @user.lastName</h1>
                                        <table>
                                            <thead></thead>
                                            <tbody>
                                                <tr>
                                                    <td><label>Email: </label></td>
                                                    <td><label>@user.email</label></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Type: </label></td>
                                                    <td><label>@user.userType.name</label></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Phone number: </label></td>
                                                    <td><label>@user.phoneNumber</label></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Coutry: </label></td>
                                                    <td><label>@user.country</label></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Zip: </label></td>
                                                    <td><label>@user.zip</label></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="background-color: transparent; border-top: none">
                            <span>
                                    @if(user.userType.id == 3) {
                                        <a href="@routes.Users.getAllUserProducts(user.email)"><button type="submit" class="btn btn-lg btn-primary" >
                                            Products</button></a>
                                        @if(user.id != SessionHelper.currentUser().id) {
                                            <a href="@routes.MessageController.newMessage(user.email)"><button type="submit" class="btn btn-lg btn-success" >
                                                Message <span class="glyphicon glyphicon-send"></span></button></a>
                                        }
                                    }
                                @if(SessionHelper.currentUser().email == user.email) {
                                    <a href="@routes.Users.editUser()" title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-lg btn-warning"><i class="glyphicon glyphicon-edit" style="font-size : 20 px"></i>
                                        Edit</a>
                                    <a id="deleteUser" title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-lg btn-danger"><i class="glyphicon glyphicon-remove" style="font-size : 20 px"></i>
                                        Delete</a>
                                }
                            </span>
                        </div>
                    </div>

                    <script >
                      $(document).ready(function(){
                      $('#deleteUser').click(function(){
                         $.confirm({
                            title: 'You are about to delete your account',
                            content: 'Are you really sure?',
                            theme: 'supervan',
                            confirmButtonClass: 'btn-danger',
                            cancelButtonClass: 'btn-info',
                             confirmButton: 'Delete',
                             cancelButton: 'Cancel',
                             backgroundDismiss: false,
                               confirm: function(){
                                $.ajax({
                                   url: '@routes.Users.deleteUserAccount()',
                                   method: 'DELETE',
                                    }).success(function(){
						             window.location.replace("@routes.ApplicationController.index()");
                                      }).error(function(response){
                                      alert(response.responseText);
                                       });
                                       },
                                      cancel: function(){
                                    }
                               });
                             })
                         })
                     </script>
                </div>
            </div>
        </div>
    </div>
}