@(cartItems : List[CartItem])(user: User)
@import helpers.SessionHelper;
@import helper._

@main("Cart") {

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">@user.firstName's Cart</div>
        </div>
        <div class="panel-body">
        @if(cartItems == null || cartItems.length == 0) {
            <h2 align="center"> Your cart is empty! </h2>
            <br>
            <a href="@routes.ApplicationController.index()"><button class="btn btn-primary center-block"> Homepage </button></a>
        } else {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> Product </th>
                        <th></th>
                        <th> Price </th>
                        <th> Quantity </th>
                        <th> Subtotal </th>
                    </tr>
                </thead>
                <tbody>
                    @for(cartItem <- cartItems) {
                        <form method="POST" action="@helper.CSRF(routes.CartController.updateItemQuantity(cartItem.id))" name="myForm">
                        <tr>
                        @if(cartItem.product.images.size() > 0) {
                            <td class="cartData" width="150px"><a href="@routes.ProductController.getProduct(cartItem.product.id)">
                                <img src="@cartItem.product.images.get(0).getSize(150, 150)"/>
                            </a></td>
                        }else {
                            <td class="cartData" width="150px"><a href="@routes.ProductController.getProduct(cartItem.product.id)">
                                <img src="http://placehold.it/140x120"/>
                            </a></td>
                        }
                            <td class="cartData" style="font-size : 17px"><a href="@routes.ProductController.getProduct(cartItem.product.id)"> @cartItem.product.name </a></td>
                            <td class="cartData" width="200px"> @cartItem.product.price </td>
                            <td class="cartData" style="align: center;"><input type="number" style="display:inline" id="replyNumber" data-bind="value:replyNumber" onfocusout="quantityValidator()" min="1" max="@cartItem.product.quantity" value="@cartItem.quantity" name="quantity"><button type="submit"><span class="fa fa-check" visible="false"></span>Update</button></td>
                            <td class="cartData"> @cartItem.price KM </td>
                            <td class="cartData"><a href="#" id="delete@cartItem.id"><span class="glyphicon glyphicon-remove" style="font-size : 20 px"></span></a></td>
                        </tr>
                        </form>
                        <script >
                          $(document).ready(function(){
                          $('#delete@cartItem.id').click(function(){
                             $.confirm({
                                title: 'You are about to delete cart item' + @cartItem.id,
                                content: 'Are you really sure?',
                                theme: 'supervan',
                                confirmButtonClass: 'btn-danger',
                                cancelButtonClass: 'btn-info',
                                 confirmButton: 'Delete',
                                 cancelButton: 'Cancel',
                                 backgroundDismiss: false,
                                   confirm: function(){
                                    $.ajax({
                                       url: '@routes.CartController.removeFromCart(cartItem.id)',
                                       method: 'DELETE',
                                        }).success(function(){
                                         window.location.replace("@routes.CartController.getCart()");
                                          }).error(function(response){
                                          alert(response.responseText);
                                           });
                                           },
                                          cancel: function(){
                                        }
                                   });
                                 })
                             })
                     </script>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4" align="center">
                    <div class="cartTotal">
                        <label style="margin-bottom: 15px;"> Total: <label style="font-size: 20px; margin-left: 15px; border-bottom: 1px solid lightblue"> @Cart.cartAmount(user) KM </label></label><br>
                        <a href="@routes.ApplicationController.index()"><button class="btn btn-success"><span class="fa fa-arrow-left"></span> Countinue shopping </button></a>
                        <form method="POST" action="@helper.CSRF(controllers.routes.PayPalController.purchaseProcessing())">
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4" align="center">
                                <input type="submit" id="paypal" value="Checkout" class="btn btn-primary" /><span class="fa fa-arrow-right"></span></div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
}