@(id: Integer)
@(userRegistration: Userp

@main("User Profile", User.getUserByEmail(session.get("email"))) {

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >


      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">Some user</div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 "> <img alt="User Pic" src="https://placeimg.com/300/300/people" class="img-rounded img-responsive"> </div>


            <div class=" col-md-9 col-lg-9 ">
              <div class="col-md-9 personal-info">

                <h3>User info</h3>

                <div class="form-horizontal">

                  <div class="form-group">
                    <div class="col-lg-4">
                    <div class="panel panel-primary">
                    <div class="panel-heading">
                      <div class="panel-title" align="center">First Name</div>
                    </div>
                      </div>
                      </div>
                    <div class="col-lg-8">
                      <div class="well well-sm" align="center">Something</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-4">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="panel-title" align="center">Last Name</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="well well-sm" align="center">Something</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-4">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="panel-title" align="center">Email</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="well well-sm" align="center">Something</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-4">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="panel-title" align="center">Country</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="well well-sm" align="center">Something</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-4">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="panel-title" align="center">Address</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="well well-sm" align="center">Something</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-4">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="panel-title" align="center">Registered</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="well well-sm" align="center">Something</div>
                    </div>
                  </div>

                    <div class="form-group">
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-title" align="center">Updated</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="well well-sm" align="center">Something</div>
                        </div>
                    </div>




                </div>
              </div>
            </div>
          </div>


          <div class="panel-footer">
            <span>
              <a href="#" title="See your products" data-toggle="tooltip" class="btn btn-lg btn-primary">Products</a>
              <a href="" title="Edit this user" data-toggle="tooltip"  type="button" class="btn btn-lg btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
              <a title="Remove this user" data-toggle="tooltip"  type="button" class="btn btn-lg btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
            </span>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
}