@import helper._
@(contactForm: Form[EmailController.Contact])
@main("Contact Us"){

            <div id="contactForm"  class="container">

                <script src='https://www.google.com/recaptcha/api.js'></script>

                <div class="col-md-3"></div>


                <!-- This is a contact form, it has input fields for name, email, subject and message content -->
                <!-- It also has two buttons, SEND and CLEAR, and recaptcha-->
                <div class="col-md-5">
                    <div class="form-area" style="min-width: 384px">
                        <form method="post" action="@helper.CSRF(routes.EmailController.sendEmail())" role="form">
                            <br style="clear:both">
                            <h3 style="margin-bottom: 25px; text-align: center;">Contact Us</h3>
                            <div class="form-group">
                                <input type="text"  value="@contactForm("name").value"  class="form-control" id="name" name="name" placeholder="Full name *">
                                <span class="alert-danger" data-error-for="name" style="margin-left : 1 px ; font-weight : normal ;"></span>
                            </div>
                            <div class="form-group">
                                <input type="email" value="@contactForm("email").value" class="form-control" id="email" name="email" placeholder="Email *">
                                <span class="alert-danger" data-error-for="email" style="margin-left : 1 px ; font-weight : normal ;"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control"  value="@contactForm("subject").value" id="subject" name="subject" placeholder="Subject *">
                                <span class="alert-danger" data-error-for="subject" style="margin-left : 1 px ; font-weight : normal ;"></span>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control"  type="textarea" name="message" id="message" placeholder="Message *" maxlength="140" rows="7">@contactForm("message").value</textarea>
                                <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
                            </div>

                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LcoOxETAAAAAFVQuK2x0d1Wd1lWK9ghYXUXuJ8a"></div>
                            </div>

                            <br>
                            <div class="form-group">

                                <input href="@routes.EmailController.sendEmail()" class="btn btn-primary" type="submit" value="SEND">
                                <button class="btn btn-default" type="reset" >CLEAR</button>

                            </div>


                            <script>
                                /**
                                 *
                                 * This function fixes the length of the message to 140 characters
                                 */
                                $(document).ready(function(){
                                    $('#characterLeft').text('140 characters left');
                                    $('#message').keydown(function () {
                                        var max = 140;
                                        var len = $(this).val().length;
                                        if (len >= max) {
                                            $('#characterLeft').text('You have reached the limit');
                                            $('#characterLeft').addClass('red');
                                            $('#btnSubmit').addClass('disabled');
                                        }
                                        else {
                                            var ch = max - len;
                                            $('#characterLeft').text(ch + ' characters left');
                                            $('#btnSubmit').removeClass('disabled');
                                            $('#characterLeft').removeClass('red');
                                        }
                                    });
                                });
                             </script>

                        </form>
                    </div>
                </div>

            </div>

    <script>
            var urlPost = "@routes.EmailController.validateFormContactUs()";
        </script>
    <script src="@routes.Assets.versioned("javascripts/validateForm.js")" type="text/javascript"></script>


}