@import helpers.SessionHelper
@import play.Logger
@(implicit products: java.util.List[Product], recommendedProducts: java.util.List[Product])

@main("bitbay Home") {
    @if(recommendedProducts != null && recommendedProducts.size() > 0) {
    <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel" style="margin-bottom: 25px">
        <div class="carousel-inner" role="listbox">

            <div class="item active" style="margin-left: 12%">
                <a href="@routes.ProductController.getProduct(recommendedProducts.get(0).id)">
                    <img src="@recommendedProducts.get(0).images.get(0).getThumbnail(457,386)" alt="">
                </a>
                <div class="carousel-caption" style="margin-left: 40%; color: #060c19; margin-bottom: 5%">
                    <h4>@recommendedProducts.get(0).name</h4>
                    <h3>@recommendedProducts.get(0).price KM</h3>
                    <a href="@routes.ProductController.getProduct(recommendedProducts.get(0).id)"><button class="btn btn-primary">Buy this item</button></a>
                </div>
            </div>
        @for(a <- 1 to recommendedProducts.size() - 1) {
            <div class="item" style="margin-left: 12%">
                <a href="@routes.ProductController.getProduct(recommendedProducts.get(a).id)">
                    <img src="@recommendedProducts.get(a).images.get(0).getThumbnail(457,386)" alt="">
                </a>
                <div class="carousel-caption" style="margin-left: 40%; color: #060c19 ; margin-bottom: 5%">
                    <h4>@recommendedProducts.get(a).name</h4>
                    <h3>@recommendedProducts.get(a).price KM</h3>
                    <a href="@routes.ProductController.getProduct(recommendedProducts.get(a).id)"><button class="btn btn-primary">Buy this item</button></a>
                </div>
            </div>
        }

        </div>
        <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    }

    @if(recommendedProducts != null && recommendedProducts.size() > 3) {
        <div class="panel panel-primary">
            <div class="panel-heading">
                Recommended
            </div>
        </div>
        <div class="row">
        @for(product <- recommendedProducts) {
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail" style="height:450px;" id="ellipsis@product.id">
                    @if(product.images.size() > 0) {
                        <a href="@routes.ProductController.getProduct(product.id)" class="thumbnail" style="margin-bottom: 0;">
                            <img class="img-responsive" src="@product.images.get(0).getThumbnail(400, 360)" ></a>

                    }else{
                        <a href="@routes.ProductController.getProduct(product.id)" class="thumbnail" style="margin-bottom: 0;">
                            <img class="img-responsive" src="http://placehold.it/400x360" ></a>
                    }
                <div class="caption">
                    <h3 style="margin-top: 5px"><a href="@routes.ProductController.getProduct(product.id)" >@product.name</a></h3>
                    <span class="fa-stack fa-2x" style="float: right; margin-top: 10px; position: absolute; bottom: 20px; right: 20px;">
                        <i class="fa fa-star fa-stack-2x"></i>
                        <strong class="fa-stack-1x star-text">@Rating.getAverageRating(product.id)</strong>
                    </span>
                    <p>@product.description</p>
                </div>
                </div>
            </div>
            <script >
        $(document).ready(function() {
        var id = @product.id;
        console.log(id);
	    $("#ellipsis" + id).dotdotdot();
        });
    </script>
        }
        </div>
    }
    <div class="panel panel-primary">
        <div class="panel-heading">
            Products
        </div>
    </div>
    <div class="row" id="easyPaginate">
    @for(product <- products) {
        <div class="product">
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="thumbnail"style="height:450px;" id="ellipsis@product.id">
                @if(product.images.size() > 0) {
                        <a href="@routes.ProductController.getProduct(product.id)" class="thumbnail" style="margin-bottom: 0;">
                            <img class="img-responsive" src="@product.images.get(0).getThumbnail(400, 360)" ></a>
                }else{
                    <a href="@routes.ProductController.getProduct(product.id)" class="thumbnail" style="margin-bottom: 0;">
                        <img class="img-responsive" src="http://placehold.it/400x360" ></a>
                }
                <div class="caption">
                    <h3 style="margin-top: 5px"><a href="@routes.ProductController.getProduct(product.id)" >@product.name</a></h3>
                    <span class="fa-stack fa-2x" style="float: right; margin-top: 10px; position: absolute; bottom: 20px; right: 20px;">
                        <i class="fa fa-star fa-stack-2x"></i>
                        <strong class="fa-stack-1x star-text">@Rating.getAverageRating(product.id)</strong>
                    </span>
                    <p>@product.description</p>
                </div>
            </div>
            </div>
        </div>
        <script>
        $(document).ready(function() {
	        var id = @product.id;
	        $("#ellipsis" + id).dotdotdot();
        });
    </script>
    }
    </div>
}

<script>
    var slider = new MasterSlider();
    slider.setup('masterslider' , {
            width:1000,    // slider standard width
            height:386,   // slider standard height
            space:5
            // more slider options goes here...
            // check slider options section in documentation for more options.
        });
    // adds Arrows navigation control to the slider.
    slider.control('arrows');
</script>