@import helpers.SessionHelper
@import play.Logger
@(implicit products: java.util.List[Product], recommendedProducts: java.util.List[Product])

@main("bitbay Home") {

    <div class="jumbotron">
        @if(!SessionHelper.isAuthenticated) {
            <h1>Welcome</h1>
        } else {
            <h1>Welcome  @SessionHelper.currentUser().firstName</h1>
            <h4>Your login was succesfull!</h4>
        }

        <p><a class="btn btn-primary btn-lg" href="/" role="button">Back to home</a></p>
    </div>

    @if(recommendedProducts != null && recommendedProducts.size() > 3) {
    <div class="panel panel-primary">
        <div class="panel-heading">
            Recommended
        </div>
    </div>


    <div class="row">
        @for(product <- recommendedProducts) {
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="thumbnail" style="height:450px;" id="ellipsis@product.id">
                    @if(product.images.size() > 0) {
                    @for(image <- product.images) {
                            <a href="@routes.ProductController.getProduct(product.id)" class="thumbnail" style="margin-bottom: 0;">
                            <img class="img-responsive" src="@image.getThumbnail(400, 360)" ></a>
                    }
                        }else{
                            <a href="@routes.ProductController.getProduct(product.id)" class="thumbnail" style="margin-bottom: 0;">
                                <img class="img-responsive" src="http://placehold.it/400x360" ></a>
                        }
                    <div class="caption" style="word-wrap: break-word;">
                        <h3 style="margin-top: 5px"><a href="@routes.ProductController.getProduct(product.id)" >@product.name</a></h3>
                        <p>@product.description</p>
                    </div>
                </div>
            </div>
            <script >
        $(document).ready(function() {
        var id = @product.id;
        console.log(id);
	    $("#ellipsis" + id).dotdotdot();
        });
    </script>
        }
    </div>
    }


    <div class="panel panel-primary">
        <div class="panel-heading">
            Products
        </div>
    </div>


    <div class="row">
    @for(product <- products) {
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="thumbnail" style="height:450px;" id="ellipsis@product.id">
                @if(product.images.size() > 0) {
                    @for(image <- product.images) {
                        <a href="@routes.ProductController.getProduct(product.id)" class="thumbnail" style="margin-bottom: 0;">
                            <img class="img-responsive" src="@image.getThumbnail(400, 360)" ></a>
                    }
                }else{
                    <a href="@routes.ProductController.getProduct(product.id)" class="thumbnail" style="margin-bottom: 0;">
                        <img class="img-responsive" src="http://placehold.it/400x360" ></a>
                }
            <div class="caption" style="word-wrap: break-word; height: 130px;">
                <h3 style="margin-top: 5px"><a href="@routes.ProductController.getProduct(product.id)" >@product.name</a></h3>
                <p >@product.description</p>
            </div>
            </div>
        </div>
        <script >
        $(document).ready(function() {
	        var id = @product.id;
	        $("#ellipsis" + id).dotdotdot();
        });
    </script>
    }
    </div>
}
