@(user:User)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="shortcut icon" type="image/ico" href="@routes.Assets.versioned("images/favicon.ico")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
  </head>
  <body>
    <br>
    <div class="container">
      <div class="row">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <img src="@routes.Assets.versioned("images/logo3.png")" id = "TitleImage">
                  <h3 class="text-center">Reset Password</h3>

                  <div class="panel-body">

                    <form method="POST" action="@helper.CSRF(routes.Users.setNewPassword(user.email))"><!--start form--><!--add form action as needed-->
                      <fieldset>
                        <div class="form-group">
                          <div class="input-group">

                            <input id="password" name="password" style="margin-bottom: 10px" placeholder="New password" class="form-control" type="password">
                          </div>
                          <div class="input-group">

                            <input id="confirmPassword"  name="confirmPassword" placeholder="Confirm password" class="form-control" type="password" >
                          </div>
                        </div>
                        @if(flash.containsKey("emptyError")){
                            <strong style="color: red">@flash.get("emptyError")</strong>
                        }
                        @if(flash.containsKey("lengthError")){
                            <strong style="color: red">@flash.get("lengthError")</strong>
                        }
                        @if(flash.containsKey("matchError")){
                            <strong style="color: red">@flash.get("matchError")</strong>
                        }
                        <div class="form-group">
                          <input style="margin-left: 0px; margin-top: 10px" class="btn btn-lg btn-primary btn-block" value="Submit" type="submit">
                        </div>
                      </fieldset>
                    </form><!--/end form-->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>