<!DOCTYPE html>
<html>
    <head>
        <title>Not Found</title>
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.versioned("images/favicon.ico")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    </head>
    <body>
        <div class="container" style="margin-left: auto; margin-right: auto; margin-top: 100px; width: 400px;">
            <img src="@routes.Assets.versioned("images/404-not-found.png")" alt=""/>
        </div>
    </body>
</html>

