@(messages: List[Message])
@import helpers.SessionHelper
@import helper._

@user.userMessages {
    <span class="alert-success" style="margin-left : 1px ; font-weight : normal ;">@flash.get("messageSentSuccess")</span>
    <table class="table table-hover">
        <thead>
            <th> Messages </th>
        </thead>
        <tbody>
            @for(message <- messages) {
                <tr>
                @if(message.isRead == false) {
                    <td width="80px" style="text-align: center; vertical-align: middle"><a href="@routes.MessageController.replyMessage(message.id)"><img src="@routes.Assets.versioned("images/message.png")" width="40px" height="30px"></a></td>
                } else {
                    <td width="80px" style="text-align: center; vertical-align: middle"><a href="@routes.MessageController.replyMessage(message.id)"><img src="@routes.Assets.versioned("images/read_message.png")" width="40px" height="30px"></a></td>
                }
                <td style="vertical-align: middle;" class="col-md-7"><div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  width: 450px">
                    <a href="@routes.MessageController.replyMessage(message.id)" style="text-decoration: none"><label>@message.title</label><p>@message.message</p></a>
                </div></td>
                @if(SessionHelper.currentUser().id == message.receiver.id) {
                    <td style="vertical-align : middle"><a href="@routes.Users.getUser(SessionHelper.currentUser().email)"> @message.sender.email</a> </td>
                } else {
                    <td style="vertical-align : middle"><a href="@routes.Users.getUser(SessionHelper.currentUser().email)"> @message.receiver.email</a> </td>
                }
                <td style="vertical-align: middle"><span id="deleteMessage@message.id" class="glyphicon glyphicon-remove"><i class="icon-envelope-open"></i></span></td>
                <script>
                      $(document).ready(function(){
                      $('#deleteMessage@message.id').click(function(){
                         $.confirm({
                            title: 'Are you sure?',
                            theme: 'white',
                            content: false,
                            confirmButtonClass: 'btn-danger',
                            cancelButtonClass: 'btn-info',
                            confirmButton: 'Delete',
                            cancelButton: 'Cancel',
                               confirm: function(){
                                $.ajax({
                                   url: '@routes.MessageController.deleteMessage(message.id)',
                                   method: 'POST',
                                    }).success(function(){
						             window.location.replace('@routes.MessageController.getReceivedMessages()');
                                      }).error(function(response){
                                      alert(response.responseText);
                                       });
                                       },
                                      cancel: function(){
                                    }
                               });
                             })
                         })
                     </script>
            </tr>
            }
            <tr>
                <td colspan="5" ><button class="btn btn-default" style="float: right">Delete selected messages</button></td>
            </tr>
        </tbody>
    </table>
}