@import helpers.SessionHelper
@import helpers.CommonHelpers
@import helpers.ConstantsHelper
@import helper._

@(message: Message)

@user.userMessages {
    <div class="col-md-3"></div>
        <div class="col-md-10" style="border-bottom: 1px; background-color: #F8F8F4; border-radius: 5px; border: 1px solid #E0E0D1">
            <div class="row" style="border-bottom: 1px ridge lightgray; margin-top: 15px">
                <label style="margin-left: 5%"> From: </label> <label style="color: gray">@message.sender.email</label><br>
                @if(message.title != "") {
                    <label style="margin-left: 5%"> Title: </label> <label style="color: gray">@message.title</label><br>
                } else {
                    <label style="margin-left: 5%"> Title: </label> <label style="color: gray"> No Subject</label><br>

                }
                <label style="margin-left: 5%"> Date: </label> <label style="color: gray">@CommonHelpers.getDateAsString(message.date) h</label><br>
                @if(message.sender.userType.id == ConstantsHelper.ADMIN) {
                    <div style="margin-left: 5%; color: darkred"><i class="fa fa-exclamation-triangle"></i> BitBay Admin Team <i class="fa fa-exclamation-triangle"></i></div>
                }
            </div>
            <div class="row" style="margin-top: 20px">
                <p style="font-family : serif; font-size: 17px ; margin-left: 5%; width: 90% ; border-top: 1px ">@message.message</p>
            </div>
            @if(message.sender.id != SessionHelper.currentUser().id) {
                <a href="@routes.MessageController.newMessage(message.sender.email)"><button class="btn btn-primary" type="submit" style="margin-left : 5%; margin-bottom : 10px">
                    Reply <i class="fa fa-reply"></i></button></a>
            }
        </div>
}

