

@user.userMessages {

<div class="col-md-10" style="border-bottom: 1px; background-color: #F8F8F4; border-radius: 5px; border: 1px solid #E0E0D1">
    <div class="row">
        <div class="col-md-11" style="margin-left: 2%; margin-top: 1%">
            <label> Username: Title </label>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11" style="margin-left: 2%; margin-top: 1%">
            <label> Me: Title </label>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                a galley of type and scrambled it to make a type specimen book. It has survived not only
                five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
    <div class="row" style="margin-top: 3%">
        <textarea style="width:90%; height: 200px; border-radius: 5px; background-color: white; resize: none; margin-left: 5%;"></textarea>
        <button class="btn btn-primary" style="margin-left: 5%">Send <span class="glyphicon glyphicon-send"> </span></button>
        <button class="btn btn-danger">Cancel</button>
    </div>
</div>
}

