@(curUser: User)(purchase: Purchase)(details: List[String])

@import helper._

@main("Welcome to bitBay") {
  <header id="header">
      <!--header-->
    <div class="header-middle">
        <!--header-middle-->
    </div>
  </header>
  <div class="container">
    <div class="paypal-info">
      <ul>
      @for( info <- details ){
        <h2>
          <li> @info </li>
        </h2>
      }
      </ul>
      <form class="paypal-approve">
        <button  type="submit" class="btn btn-primary" formaction="@helper.CSRF(routes.PayPalController.approveTransaction())">SUBMIT</button>
        <button  type="submit" class="btn btn-default" formaction="@routes.ApplicationController.index()" >CANCEL</button>
      </form>
    </div>
    <br>
    <div class="product-information">
        <!--/product-information-->
      @for( purchaseItem <- purchase.purchaseItems ){
        <h2> @purchaseItem.product.name </h2>
          <span> @purchaseItem.price.toString) BAM</span>
          <br>
          <div>
            <label class="pull-left" >DESCRIPTION</label>
            <textarea disabled rows="6" >@purchaseItem.product.description</textarea>
          </div>
      }
  </div>

  </div>
}