@import java.util.Date
@(user: User, purchasedItems: java.util.List[PurchaseItem])
@import helper._

@main("Purchases") {

  <div class="panel panel-primary" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
      <div class="panel-title">@user.firstName's Purchases</div>
    </div>
    <div class="panel-body">
    @if(purchasedItems == null || purchasedItems.size() == 0) {
      <h2 align="center"> Your purchase history is empty! </h2>
      <br>
      <a href="@routes.ApplicationController.index()"><button class="btn btn-primary center-block"> Homepage </button></a>
    } else {
      <table class="table table-hover">
        <thead>
          <tr>
            <th> Product </th>
            <th></th>
            <th> Price </th>
            <th> Quantity </th>
            <th> Total </th>
              <th> Status </th>
          </tr>
        </thead>
        <tbody>
        @for(purchaseItem <- purchasedItems) {
          <form name="myForm">
            <tr>
              @if(purchaseItem.product.images.size() > 0) {
                <td class="cartData" width="150px"><a href="@routes.ProductController.getProduct(purchaseItem.product.id)">
                  <img src="@purchaseItem.product.images.get(0).getSize(150, 150)"/>
                </a></td>
              }else {
                <td class="cartData" width="150px"><a href="@routes.ProductController.getProduct(purchaseItem.product.id)">
                  <img src="http://placehold.it/140x120"/>
                </a></td>
              }
            <td class="cartData" style="font-size : 17px"><a href="@routes.ProductController.getProduct(purchaseItem.product.id)"> @purchaseItem.product.name </a></td>
            <td class="cartData" width="200px"> @purchaseItem.product.price KM</td>
            <td class="cartData" style="align: center;">@purchaseItem.quantity</td>
            <td class="cartData"> @purchaseItem.price KM </td>

              @if(purchaseItem.cancelationDueDate.compareTo(new Date()) != -1 && purchaseItem.isRefunded == 0){
                  <td class="cartData"><a href="@routes.PayPalController.refundProcessing(purchaseItem.id)" id="delete@purchaseItem.id">Cancel order</a></td>
              }

              @if(purchaseItem.cancelationDueDate.compareTo(new Date()) == -1 && purchaseItem.isRefunded == 0){
                <td class="cartData"> You cannot cancel this purchase</td>
              }
              @if(purchaseItem.isRefunded == 1){
                <td class="cartData">CANCELED</td>
              }

            </tr>
          </form>
          <script >
                      $(document).ready(function(){
                      $('#delete@purchaseItem.id').click(function(){
                         $.confirm({
                            title: 'You are about to refund?',
                            content: 'Are you sure?',
                            theme: 'supervan',
                            confirmButtonClass: 'btn-danger',
                            cancelButtonClass: 'btn-info',
                             confirmButton: 'Refund',
                             cancelButton: 'Cancel',
                             backgroundDismiss: false,
                               confirm: function(){
                                $.ajax({
                                   url: '@routes.PayPalController.refundProcessing(purchaseItem.id)',
                                   method: 'GET',
                                    }).success(function(){
						             window.location.replace("@routes.Users.getUserPurchases()");
                                      }).error(function(response){
                                      alert(response.responseText);
                                       });
                                       },
                                      cancel: function(){
                                    }
                               });
                             })
                         })
                </script>

        }
        </tbody>
      </table>
    }
    </div>
  </div>

}