#notification {
    font-size: 10px;
    color: red;
}

#resultsPanel{
    box-shadow: 4px 4px 2px #aaacab;
}


.red{
    color:red;
}
.form-area
{
    background-color: transparent;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid dimgrey;
    color: whitesmoke;
}


#contactForm{

    padding-top: 45px;
    padding-left: 30px;
}

#characterLeft{
    color: whitesmoke;
}