
html, body {
    height: 100%;
}
.all {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px;
}

#notification {
    font-size: 10px;
    color: red;
}

#resultsPanel{
    box-shadow: 4px 4px 2px #aaacab;
}

.red{
    color:red;
}
.form-area
{
    background-color: #f5f5f5;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid lightgray;
    color: grey;
}


#contactForm{
    padding-top: 45px;
    padding-left: 30px;
}

#characterLeft{
    color: #0B66CD;
}