html{
    position: relative;
    min-height: 100%;
}

body{
    margin: 0 0 100px;
    /* bottom = footer height */
    padding-bottom: 70px;
}

footer{
    padding-top: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow:hidden;
}

#notification {
    font-size: 10px;
    color: red;
}

#resultsPanel{
    box-shadow: 4px 4px 2px #aaacab;
}

.red{
    color:red;
}
.form-area
{
    background-color: #f5f5f5;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid lightgray;
    color: grey;
}


#contactForm{
    padding-top: 45px;
    padding-left: 30px;
}

#characterLeft{
    color: #0B66CD;
}