#wrapper {margin:0 auto;float:none}

footer {
    text-align:center;
    background:#08c;
    border-top:1px dashed #fff;
    padding:15px 0;
    margin-top:20px;
    color:#fff;
}

footer a {
    color:#fff;
    padding:3px 5px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -ms-transition:all .5s;
    transition:all .5s;
}

.img-center {
    margin: 0 auto;
}

.easyPaginateNav {text-align: center}
#easyPaginate.product {display:block;margin-bottom:10px;}
.easyPaginateNav a {padding:5px;}
.easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}
