
.blank_row
{
	height: 20px !important;
	background-color: #FFFFFF;
}

td {
	padding-right: 15px;
	padding-left: 15px;
}

.table tbody>tr>td.cartData {
    vertical-align: middle;
}

.person{
	color: #f3ad29;
	font-size: 12px;
}
