.blank_row
{
	height: 20px !important;
	background-color: #FFFFFF;
}

td {
	padding-right: 15px;
	padding-left: 15px;
}

.table tbody>tr>td.cartData {
	vertical-align: middle;
}

.person{
	color: #f3ad29;
	font-size: 12px;
}

#wrapper {
	padding-top: 10px;
	background-color: #ffffff;
	padding-bottom: 10px;
	border-radius: 3px;
	box-shadow: 4px 4px 1px #eee;
	border: 1px solid #ddd;
}

#userInfo {

	padding-bottom: 20px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 4px 4px 1px #eee;
	border: 1px solid #ddd;
}

#deliveryWrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #b0e0e6;
	border-radius: 3px;
	box-shadow: 4px 4px 1px #eee;
	border: 1px solid #ddd;

}
.fa-star {
	color: gold;
}

.fa-star-o {
	color:gold;
}

.star-text { font-size: 18px; }

#panel-name {
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	color: #33A3DD;
}

/* This rule is read by Galleria to define the gallery height: */
#galleria{height:586px}


.cartTotal {
	padding-top: 10px;
	background-color: #E6E5FF;
	padding-bottom: 10px;
	border-radius: 3px;
	box-shadow: 4px 4px 1px #eee;
	border: 1px solid #ddd;
}

.userInfoWrapper {
	padding-top: 10px;
	background-color: #F9F9F6;
	padding-bottom: 10px;
	border-radius: 3px;
	box-shadow: 4px 4px 1px #eee;
	border: 1px solid #ddd;
}