/*Search product*/
#main{
    border-radius: 5px;
    border: 1px solid #ccc;

    box-shadow: 4px 0 1px #eee;
    margin-top: 10px;

}

.row{
    padding-bottom: 20px;
}

.col-md-4{
    margin-top: 20px;
    padding-left: 20px;
}

h4{
    font-size:16px;
}

.col-md-8{
    margin-top: 20px;
}
p{
    font-size: 13px;
}
