body {
	background-color: #f4f4f4;
}

.form-control {
	width: 96%;
}

#pass-input {
	margin-bottom: 2px;
}

#row1 {
	margin-bottom: 30px;
	margin-left: 30px;
}

#inputs {
	padding-top: 10px;
	margin-right: 2px;

	background-color: #ffffff;
	margin-right: 2px;
	border-right: 1px solid #ccc;
	box-shadow: 4px 0 1px #eee;

	border-radius: 3px;
	box-shadow: 4px 4px 1px #eee;
	border: 1px solid #ddd;
	margin-top: 10px;
}

.paragraph {
	margin-bottom: 0px;
}

#semi-title {
	margin-left: 20px;
	font-weight: normal;
	font-size: 15px;
}

#TitlePhoto {
	margin-right: 30px;
	margin-top: 10px;
	height: 75px;
	width: 150px;
}

#title {
	margin-top:20px;
	font-family: sans-serif;
	font-size: 40px;
	font-weight: normal;
}

.confirmPar {
	margin-left: 15px;
	padding-right: 20px;
	font-weight: normal;
	font-size: 12px;
	font-style: italic;
}

.btn-default {
	color:#0066FF
}

a {
	text-decoration: none;
	color: mediumblue;
}

a:hover {
	color: deepskyblue;
}

.pFooter {
	margin-top: 30px;
	text-align: center;
	font-size: 10px;
}